.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

.form-group {
    margin: 15px 0;
}

input {
    width: 30%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #c6c4c4;
    border-radius: 4px;
}

button {
    width: auto;
    padding: 8px 16px;
    margin: 5px;
    background-color: #73c879;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #83c6cb;
}

#status {
    margin-top: 15px;
    color: #666;
}